@page "{albumId}/{handler?}"
@model AlbumModel


<div class="ui padded grid">
    <div class="column">
        <div class="ui segment">
            <h3 class="ui header">@Model.Album.Name</h3>
            <div>
                <div asp-validation-summary="All"></div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-10 form-group">
                            <label class="control-label">Select photos to upload.</label>
                            <input type="file"
                                   class="form-control form-control-file"
                                   id="files"
                                   asp-for="PhotoSourceImages"
                                   aria-label="Upload photo"
                                   required multiple
                                   style="height: auto"
                                   accept="image/*"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="submit" asp-page-handler="upload" value="Upload Photo" data-progress="Uploading..." class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <div class="ui hidden divider"></div>
                <div class="ui cards">
                    @foreach (var photo in Model.Album.Photos)
                    {
                        if (photo.ProcessingStatus != ProcessingStatus.Succeeded)
                        {
                            <div class="ui card">
                                <div class="ui active transition visible dimmer" style="display: flex !important;">
                                    <div class="content">
                                        <div class="ui text loader"> Processing </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ui card">
                                <div class="center aligned content">
                                    <div>
                                        <div style="position: relative;">
                                            <img src="@photo.Thumbnail.Url">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="content">
                                    <div class="meta">
                                        <span class="date">Uploaded: @photo.UploadTime</span>
                                    </div>
                                    <div class="description">
                                        <p>
                                            <b>Detected labels:</b>
                                        </p>
                                        @if (photo?.ObjectDetected != null)
                                        {
                                            @foreach (var label in photo.ObjectDetected)
                                            {
                                                <div class="ui orange basic label">@label</div>
                                            }
                                        }
                                        <p><b>Image size: </b>@photo.FullSize.Height x @photo.FullSize.Width</p>
                                        @if (photo?.GeoLocation != null)
                                        {
                                            <p>
                                                <strong>Geolocation: </strong>@photo.GeoLocation.ToString()
                                            </p>
                                        }
                                        @if (photo?.ExifModel != null)
                                        {
                                            <p>
                                                <strong>Device: </strong>@photo.ExifMake @photo.ExifModel
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>